{% extends 'layouts/base.html'%}
{% load static%}
{% block navigation %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Price &amp; Plans</span>
                <h2>Affordable Packages</h2>
            </div>
        </div>
    </div>
  </section>
{% endblock%}

{% block content %}
	
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ftco-animate d-flex">
          <div class="block-7 w-100">
            <div class="text-center">
                <span class="price"><sup>$</sup> <span class="number">49</span> <sub>/mo</sub></span>
                <span class="excerpt d-block">For Adults</span>
                <ul class="pricing-text mb-5">
                  <li><span class="fa fa-check mr-2"></span>Individual Counseling</li>
                  <li><span class="fa fa-check mr-2"></span>Couples Therapy</li>
                  <li><span class="fa fa-check mr-2"></span>Family Therapy</li>
                </ul>

                <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate d-flex">
          <div class="block-7 w-100">
            <div class="text-center">
                <span class="price"><sup>$</sup> <span class="number">79</span> <sub>/mo</sub></span>
                <span class="excerpt d-block">For Children</span>
                <ul class="pricing-text mb-5">
                  <li><span class="fa fa-check mr-2"></span>Counseling for Children</li>
                  <li><span class="fa fa-check mr-2"></span>Behavioral Management</li>
                  <li><span class="fa fa-check mr-2"></span>Educational Counseling</li>
                </ul>

                <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate d-flex">
          <div class="block-7 w-100">
            <div class="text-center">
                <span class="price"><sup>$</sup> <span class="number">109</span> <sub>/mo</sub></span>
                <span class="excerpt d-block">For Business</span>
                <ul class="pricing-text mb-5">
                  <li><span class="fa fa-check mr-2"></span>Consultancy Services</li>
                  <li><span class="fa fa-check mr-2"></span>Employee Counseling</li>
                  <li><span class="fa fa-check mr-2"></span>Psychological Assessment</li>
                </ul>

                <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock%}








