{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MistNex Dynamics – Next-Gen Software & Impactful Innovation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Meta Tags -->
    <meta name="description" content="MistNex Dynamics delivers next-generation software solutions, impactful technologies, and dynamic innovation for businesses and individuals seeking future-proof digital transformation.">
    <meta name="keywords" content="MistNex Dynamics, Software Development, Tech Innovation, Dynamic Solutions, Next-Gen Software, AI Integration, Branding Solutions, Web Development, Custom Software, Zimbabwe Tech Company">
    <meta name="author" content="MistNex Dynamics">
    <meta name="robots" content="index, follow">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="MistNex Dynamics – Next-Gen Software & Impactful Innovation">
    <meta property="og:description" content="Explore creative, custom software and digital solutions powered by MistNex Dynamics. We transform ideas into tech reality.">
    <meta property="og:image" content="{% static 'assets/images/nexlogo.png' %}">
    <meta property="og:url" content="https://www.mistnex.co.zw">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="MistNex Dynamics – Next-Gen Software & Impactful Innovation">
    <meta name="twitter:description" content="Next-gen software and digital transformation by MistNex Dynamics. Build smarter. Impact greater.">
    <meta name="twitter:image" content="{% static 'assets/images/mistnex-og-image.jpg' %}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/nexlogo.png' %}">
    <link rel="icon" href="{% static 'assets/images/nexlogo.png' %}" type="image/png">
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <!-- Modernizr -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!-- Preloader -->
    <div id="cssLoader3" class="preloder-wrap">
        <div class="loader">
            <div class="child-common child4"></div>
            <div class="child-common child3"></div>
            <div class="child-common child2"></div>
            <div class="child-common child1"></div>
        </div>
    </div>

    <!-- Search Area -->
    <div class="search-area">
        <span class="closs-btn">Close</span>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="search-form">
                        <form action="#">
                            <input type="text" name="search" placeholder="Search Here">
                            <button type="button" class="btn-style">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="header-area">
        <div class="header-top bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <div class="header-top-left">
                            <p>MistNex Dynamics delivers next-generation technology and creative solutions that transform businesses with real impact.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12">
                        <div class="header-top-right text-right">
                            <ul>
                                <li><a href="https://www.facebook.com/supertechglobal"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'layouts/header.html' %}
    </header>

    <!-- Navigation -->
     
    {% block navigation %}{% endblock %}

    <!-- Page Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    {% include 'layouts/footer.html' %}

    <!-- Scripts -->
    {% include 'layouts/scripts.html' %}
</body>
</html>
