{% load static %}
   
        <footer>
            <div class="footer-col">
                <h3>Top Products</h3>
                <li>Arduino kits</li>
                <li>Rocketry kits</li>
                <li>Microcontroller Boards</li>
                <li>sensors</li>
            </div>

            <div class="footer-col">
                <h3>Quick links</h3>
                <li>Jobs</li>
                <li>Brand Assets</li>
                <li>Gallery</li>
                <li>Terms of Service</li>
            </div>

            <div class="footer-col">
                <h3>Features</h3>
                <li>Arduino kits</li>
                <li>Rocketry kits</li>
                <li>Microcontroller Boards</li>
                <li>sensors</li>
            </div>

            <div class="footer-col">
                <h3>Resources</h3>
                <li>Experts</li>
                <li>Material</li>
                <li>Training</li>
                <li>Inccubation</li>
            </div> 

            <div class="footer-col">
                <h3>Newsletter</h3>
                <p>You can trust us. We only send Promo offers</p>
                <div class="subscribe">
                    <form method="POST" action="{% url 'subscriber_add' %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Your Email address" required id="subscriber-email">
                        <button type="submit" class="yellow" id="subscribe-btn">SUBSCRIBE</button>
                    </form>
                </div>
            </div>



            <div class="copyright">
                <p>Copyright ©2021 All rights reserved | This template was made by AREIC Technologies </p>
            </div>

            
        </footer>