{% load static %}

<footer class="ftco-footer">
    <div class="container">
        <div class="row mb-5">
            <!-- Footer Widget 1 -->
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 logo"><a href="#">Ultimate Creative</a></h2>
                    <p class="motto">"Innovating the future, one step at a time."</p>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Footer Widget 2: Explore -->
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Explore</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}"><span class="fa fa-chevron-right mr-2"></span>About</a></li>
                        <li><a href="{% url 'contact' %}"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                        <li><a href="{% url 'services' %}"><span class="fa fa-chevron-right mr-2"></span>What We Do</a></li>
                        <li><a href="{% url 'products' %}"><span class="fa fa-chevron-right mr-2"></span>Products</a></li>
                    </ul>
                </div>
            </div>

            <!-- Footer Widget 3: Legal -->
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Legal</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'blog' %}"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Privacy &amp; Policy</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Term &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>

            <!-- Footer Widget 4: Company -->
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Company</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}"><span class="fa fa-chevron-right mr-2"></span>About Us</a></li>
                        <li><a href="{% url 'blog' %}"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
                        <li><a href="{% url 'contact' %}"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                        <li><a href="{% url 'team' %}"><span class="fa fa-chevron-right mr-2"></span>Team</a></li>
                    </ul>
                </div>
            </div>

            <!-- Footer Widget 5: Contact Information -->
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Question?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">08 Dan Judson Drive, Milton Park, Harare, Zimbabwe</span></li>
                            <li><a href="tel:+263774798743"><span class="icon fa fa-phone"></span><span class="text">+263 77 479 8743</span></a></li>
                            <li><a href="tel:+263774798743"><span class="icon fa fa-phone"></span><span class="text">+263 78 135 9910</span></a></li>
                            <li><a href="mailto:couragemhute21@gmail.com"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">[email&#160;protected]</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="container-fluid px-0 py-5 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0" style="color: rgba(255,255,255,.5);">
                        Copyright &copy;<script data-cfasync="false" src="https://github.com/couragemhute"></script>
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This website was developed by <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://github.com/couragemhute" target="_blank">Courage Mhute</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
