{% load static %}

<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!-- About MistNex -->
                <div class="col-md-3 col-sm-6 col-xs-12 col">
                    <div class="footer-widget footer-logo">
                        <h1>MistNex Dynamics</h1>
                        <p>At MistNex Dynamics, we engineer next-generation digital solutions, creative tech experiences, and impactful innovations tailored for forward-thinking businesses.</p>
                        <ul>
                            <li><i class="fa fa-phone"></i> +263 77 123 4567</li>
                            <li><i class="fa fa-envelope"></i> <a href="mailto:info@mistnex.co.zw">info@mistnex.co.zw</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Services -->
                <div class="col-md-3 col-sm-6 col-xs-12 col">
                    <div class="footer-widget footer-menu">
                        <h2>Our Services</h2>
                        <ul>
                            <li><a href="software.html">Software Development</a></li>
                            <li><a href="branding.html">Creative Branding</a></li>
                            <li><a href="web.html">Web & App Development</a></li>
                            <li><a href="ai.html">AI & Automation</a></li>
                            <li><a href="design.html">Graphic Design</a></li>
                            <li><a href="printing.html">Smart Print Solutions</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Instagram -->
                <div class="col-md-3 col-sm-6 col-xs-12 col">
                    <div class="footer-widget instagram-wrap">
                        <h2>Follow Us</h2>
                        <ul>
                            <li><a href="#"><img src="assets/images/instagram/1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/images/instagram/2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/images/instagram/3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/images/instagram/4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/images/instagram/5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/images/instagram/6.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="col-md-3 col-sm-6 col-xs-12 col">
                    <div class="footer-widget quick-contact">
                        <h2>Quick Contact</h2>
                        <form action="{% url 'contact_form_submission' %}" method="post" id="contactFormFooter">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                            <input type="text" placeholder="Name" id="fname" name="fname" required>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                            <input type="email" placeholder="Email" id="email" name="email" required>
                            </div>
                            <div class="col-xs-12">
                            <input type="text" placeholder="Subject" id="subject" name="subject" required>
                            </div>
                            <div class="col-xs-12">
                            <textarea class="contact-textarea" placeholder="Message" id="msg" name="msg" required></textarea>
                            </div>
                            <div class="col-xs-12">
                            <button id="submit" class="cont-submit btn-contact" name="submit" type="submit">SEND MESSAGE</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    &copy; <script>document.write(new Date().getFullYear());</script> MistNex Dynamics. All rights reserved. Designed with <i class="fa fa-heart-o" aria-hidden="true"></i> by Courage Mhute.
                </div>
            </div>
        </div>
    </div>
</footer>
