{% extends 'layouts/base.html'%}
{% load static%}

{% block navigation %}
<section id="about-home">
    <h2>About The BLOOMI Project</h2>
</section>
{% endblock%}

{% block content %}
<!-- Courses -->
<section id="course">
    <h1>Our Courses</h1>
    <p>Explore a variety of courses designed to enhance your skills.</p>
    <div class="course-box">
        {% for course in courses %}
            <div onclick="window.location.href='{% url 'catalogue_course_detail' course.pk %}';" class="courses">
                <img src="{{ course.image.url }}" class="course-img" alt="{{ course.title }}">
                <div class="details">
                    <h6>{{course.title}}</h6>
                    <div class="star">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                        <i class="fas fa-star"></i><span>(30)</span>
                    </div>
                </div>
                <div class="cost">${{course.price}}</div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
