{% extends 'admin_layouts/base.html' %}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-light rounded-3">
            <div class="nk-block-head-content">
                <!-- <div class="nk-block-des text-soft">
                    <p>Add New Course</p>
                </div> -->
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li class="nk-block-tools-opt"><a href="{%url 'tax-index' %}" class="btn btn-primary"><em class="icon ni ni-curve-down-left"></em><span>Back</span></a></li>
                        </ul>
                    </div>
                </div>
           </div> <!-- .nk-block-head-content  -->
        </div>  <!-- .nk-block-between-->
    </div><!-- .nk-block-head -->
{% endblock%}
{% block content %}
<div class="nk-block nk-block-lg">
    <div class="card ">
        <div class="card-inner">
            <p><h6>Are you sure you want to delete "{{ object }}"?</h6></p>
            <form action="{{ action_url }}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-danger btn-submit" value="Yes, Delete"> 
            </form> 
        </div>
    </div>
</div>
{% endblock %}
